{% extends "base/en.html" %}

{% block title -%}
    Tutor registration for {{ tutor.course.name }} has been approved.
{%- endblock %}

{% block content -%}
    <p>
        Your tutor registration for {{ tutor.course.name }} has been approved. You can now accept tutorings on your
        <a href="{{ tutoring_profile_url }}">tutor profile</a>.
    </p>
{%- endblock %}
