<template lang="pug">
a-select.w-100(
    :showSearch="true",
    :labelInValue="true",
    :value="selectValue",
    :allowClear="true",
    :placeholder="$t('placeholder')",
    :filterOption="false",
    @search="fetch",
    @focus="() => fetch('')",
    :notFoundContent="fetching ? undefined : $t('empty')",
    @change="emit"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.id") {{ label(d) }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Select, Spin } from "ant-design-vue";
import { newsApi, NewsItem } from "../../scripts/api/news";

@Component({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
})
export default class FormNewsField extends Vue {
    @Prop() value;
    private data: NewsItem[] = [];
    private fetching = false;

    get selectValue(): { key: number; label: string } | undefined {
        if (!this.value) {
            return undefined;
        }

        return { key: this.value.id, label: this.label(this.value) };
    }
    private label(a: NewsItem) {
        return `${a.title.nl} - ${a.title.en}`;
    }

    private async fetch(value) {
        this.data = [];
        this.fetching = true;
        const data = await newsApi.searchNews(1, value);
        this.data = data.data.data;
        this.fetching = false;
    }

    private emit(e) {
        if (e && e.key) {
            this.$emit(
                "change",
                this.data.find((a) => a.id == e.key)
            );
        } else {
            this.$emit("change", e);
        }
    }
}
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>

<i18n src="./form_news_field.json"></i18n>
