<template lang="pug">
a-select(
    :showSearch="true",
    :labelInValue="true",
    :value="value",
    :allowClear="true",
    placeholder="Select user",
    style="width: 100%",
    :filterOption="false",
    @search="fetch",
    @focus="() => fetch('')",
    :notFoundContent="fetching ? undefined : 'No users found'",
    @change="(e) => $emit('change', e)"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.value") {{ d.text }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import instance from "../../utils/axios";
import { Select, Spin } from "ant-design-vue";

@Component({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
})
export default class FormUserField extends Vue {
    @Prop() value;
    private data = [];
    private fetching = false;

    private async fetch(value) {
        this.data = [];
        this.fetching = true;
        const data = await instance.get(
            "/api/users/?page=1&limit=15&search=" + value
        );
        const users = data.data.data;
        this.data = users.map((user) => ({
            text: `${user.first_name} ${user.last_name} (${user.email})`,
            value: user.id,
        }));
        this.fetching = false;
    }
}
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>
