<template lang="pug">
a-spin.gre-container(:spinning="loading")
    div(ref="greContainer")
</template>

<script lang="ts">
import { Component, Vue, Emit } from "vue-property-decorator";
import { Spin } from "ant-design-vue";

@Component({ components: { "a-spin": Spin } })
export default class Recaptcha extends Vue {
    private loading = true;

    get greContainer() {
        return this.$refs.greContainer;
    }

    @Emit("change")
    @Emit("input")
    change(value: string) {
        return value;
    }

    renderIntoElement() {
        window["grecaptcha"].render(this.greContainer, {
            sitekey: window.viaduct?.recaptcha_public_key,
            theme: "light",
            size: "normal",
            callback: this.change,
            // 'expired-callback': () => this.$emit("expire"),
            // 'error-callback': () => this.$emit("fail")
        });
        this.loading = false;
    }

    mounted() {
        if (!window["grecaptcha"]) {
            new Promise<void>((resolve) => {
                window["_greReady"] = function () {
                    resolve();
                };
                const script = document.createElement("script");
                const lang = window.viaduct?.locale || "en";
                const url = `https://www.google.com/recaptcha/api.js?onload=_greReady&render=explicit&hl=${lang}`;
                script.async = true;
                script.setAttribute("src", url);
                document.head.appendChild(script);
            }).then(() => {
                this.renderIntoElement();
            });
        } else {
            this.renderIntoElement();
        }
    }
}
</script>

<style lang="sass" scoped>

.gre-container
    // Size of the Google Recaptcha widget after it has loaded.
    height: 78px
    width: 304px
</style>
