{% extends "base/en.html" %}

{% block title -%}
    {{ tutoring.tutee.name }} has requested tutoring for {{ tutoring.course.name }}.
{%- endblock %}

{% block content -%}
    <p>
        <b><a href="{{ tutee_profile_url }}">{{ tutoring.tutee.name }}</a> (<a href="mailto:{{tutoring.tutee.email}}">{{tutoring.tutee.email}}</a>)</b> has requested tutoring for <b>{{ tutoring.course.name }}</b> for <b>{{ tutoring.num_hours }} hours per week</b>.
    </p>
    {% if tutoring.notes %}
    <p>
        Notes added by {{ tutoring.tutee.name }}: <i>{{ tutoring.notes }}</i>.
    </p>
    {% endif %}
    <p>If you are interested in tutoring {{ tutoring.tutor.name }}, you can accept the
        tutoring on your
        <a href="{{ tutoring_profile_url }}"> tutoring profile</a>. If you no longer
        wish to receive notifications for tutoring requests for
        {{ tutoring.course.name }} you can remove yourself as a tutor on your <a
                href="{{ tutoring_profile_url }}">tutoring profile</a>.</p>
{%- endblock %}
