{% extends 'base.htm' %}

{% from 'macros/domjudge.htm' import problem_badge_style %}

{% block includes %}
{%- if problem -%}
        <script type="text/javascript">
            function get_language_for_extension(extension)
            {
                switch(extension)
                {
                {%- for lang in languages -%}
                    {% for ext in lang.extensions %}
                    case '{{ ext }}':
                    {%- endfor %}
                        return '{{ lang.id }}';
                {%- endfor %}
                    default:
                        return null;
                }
            }

            document.addEventListener('DOMContentLoaded', function() {
                "use strict";
                document.querySelector('#file').addEventListener('change',
                    function() {
                        if(this.value === "")
                            return;

                        let fn = this.value.replace(/^.*[\\\/]/, '');
                        let sp = fn.split('.');
                        if(sp.length === 1)
                            return;

                        let extension = sp[sp.length - 1];

                        let langid = get_language_for_extension(extension);
                        if(langid != null)
                            document.querySelector('#problem-language').value = langid;
                });
            });
        </script>
{%- endif -%}
{% endblock %}

{% block title %}
    {{ problem.name }} - {{ _('Submit solution') }}
{% endblock %}

{% block page %}
{% if problem %}
<h1>{{ contest.name }}</h1>
<legend id="domjudge-problem-head">
    <p class="domjudge-problem-badge"
        style="{{ problem_badge_style(problem) }}; margin-right: 20px; font-size: 16px;">
        <i class="fas fa-flag"></i>
    </p>
{# TODO: clean this horrible hacky CSS mess #}
{{ _('Problem description') }}:
<span class="domjudge-problem-link"
    style="display: inline-block; width: 60%; height: 30px;">
    <a href="{{ url_for('domjudge.contest_problem_view', contest_id=contest.id, problem_id=problem.id) }}" target="_blank">
        <i class="fas fa-cloud-download-alt"></i>
        {{ problem.name }}
    </a>
</span>
</legend>
<h3 id="domjudge-submit-solution-label">{{ _('Submit solution') }}:</h3>
<form method='post' enctype='multipart/form-data'>
    <div class='form-group'>
        <label>{{ _('Source code file') }}:</label>
        <input type='file' name='file' id='file' class='form-control' required />
    </div>
    <div class='form-group'>
        <label>{{ _('Language') }}:</label>
        <select name='language' id='problem-language' class='form-control'>
            {% for lang in languages %}
            <option value="{{ lang.id }}">
                {{ lang.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="control-group">
        <div class="controls btn-group">
            <button type="submit" class="btn btn-success">
                <i class= "fas fa-check"></i> {{_('Send')}}
            </button>
            <a href="{{ url_for('domjudge.contest_problems_list', contest_id=contest.id) }}" class='btn btn-primary'>
                <i class="fas fa-arrow-left"></i> {{_('Back')}}
            </a>
        </div>
    </div>
</form>
{% else %}
<div class="control-group">
    <div class="controls btn-group">
        <a href="{{ url_for('domjudge.contest_problems_list', contest_id=contest.id) }}" class='btn btn-primary'>
            <i class="fas fa-arrow-left"></i> {{_('Back')}}
        </a>
    </div>
</div>
{% endif %}
{% endblock %}
