{% if navigation_current_entry != None %}

<div class="col-md-2 side-menu">
    <div class="card-group">
        <div class="card">
            {% for i, entry in enumerate(navigation_side_entries) %}
                <a class="card-header" {% if entry.external %}target="_blank"{% endif %} href="{{ entry.href }}">
                    {{ entry.title }}
                </a>
                {% if entry.activity_list %}
                    <ul class="list-group list-group-flush">
                        {% for activity in entry.activities %}
                        <li class="list-group-item">
                            <a href="{{ url_for('activity.get_activity', activity=activity) }}">
                                {{ activity.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% if navigation_current_entry.children and entry.id == navigation_current_entry.id %}
                        <ul class="list-group list-group-flush">
                            {% for child in navigation_get_children(navigation_current_entry, current_user) %}
                                <li class="list-group-item">
                                    <a {% if child.external %}target="_blank"{% endif %}
                                       href="{{ child.href }}">
                                        {{ child.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}
