.activity-card {
    display: flex;
    flex-direction: row;

    .activity-picture {
        flex: 0 0 230px;

        @media (max-width: 768px) {
            flex-basis: 115px;
        }

        img {
            // This is A4 in desktop view, ideal for posters.
            object-fit: cover;
            width: 230px;
            height: 325px;

            @media (max-width: 768px) {
                width: 115px;
                height: 162px;
            }
        }
    }

    .activity-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        height: 325px;

        @media (max-width: 768px) {
            height: 162px;
        }

        .activity-title {
            flex: 0 1 auto;

            .activity-time-relative {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        .activity-text {
            flex: 1 1 auto;
            overflow: hidden;
        }
        .activity-details {
            flex: 0 1 auto;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

.pretix-widget-frame-close {
    line-height: 1.1;
}
