$grid-float-breakpoint: 768px;

.navbar {
    border-bottom: 1px #ddd solid;
    margin-bottom: 20px;

    img {
        max-width: none;
    }

    .navbar-brand {
        margin-right: 2rem;
    }

    .img-rounded {
        border-radius: 50%;
        width: 44px;
        height: 44px;
        object-fit: cover;
        border: 1px solid #eee;
    }

    .navbar-nav {
        width: 100%;
        justify-content: center;

        .navbar-item {
            padding: 10px 0;

            .nav-link {
                padding: 2px 14px;
            }

            .dropdown-menu {
                font-size: 0.875rem;
            }

            .dropdown-menu .nav-link:hover {
                background: #eeeeee;
            }

            a {
                color: #333;
            }
        }
    }

    .fa-large {
        font-size: 2rem;
        color: #333;
        padding: 12px;
    }

    @media (max-width: $grid-float-breakpoint - 1) {
        .container {
            width: 100%;

            .row {
                flex-direction: column;
            }
        }

        .navbar-right {
            display: flex;
            align-items: center;

            .btn {
                padding: 0;
            }
        }

        .navbar-header {
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .navbar-brand {
            margin-left: 50px;
            margin-right: 0px;
        }

        .navbar-item {
            overflow: hidden;
        }
    }
}

.nav-language {
    flex-direction: column;

    a {
        color: #262626;
    }

    .active {
        background-color: whitesmoke;
    }
}

.login-container {
    padding: 20px;
    min-width: 390px;

    .user-information {
        float: left;
        margin: 0 20px;
        position: relative;
        min-width: 100px;

        .username {
            font-weight: 600;
            margin: 4px 0;
        }

        i.fa {
            width: 1.2em;
        }
    }

    .user-image {
        width: 96px;
        height: 96px;
        border: 1px solid #eee;
        float: left;
        position: relative;
        object-fit: cover;
    }

    .logout-container button,
    .logout-container {
        width: 100%;
    }

    &.small {
        padding: 0;

        @media (min-width: $grid-float-breakpoint) {
            display: none !important;
        }
    }
}

@media (min-width: $grid-float-breakpoint) {
    .navbar ul {
        .dropdown-submenu:hover > ul,
        .dropdown:hover > ul {
            display: block;
            margin-top: -1px;
        }
    }
}

.navbar-collapse {
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    width: 100%;
    @include clearfix();
    -webkit-overflow-scrolling: touch;

    &.in {
        overflow-y: auto;
    }

    @media (min-width: $grid-float-breakpoint) {
        width: auto;
        border-top: 0;
        box-shadow: none;
        height: auto !important;

        &.in {
            overflow-y: visible;
        }
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -6px;
    border-left-color: $gray-800;
}

nav .dropdown-toggle::after {
    // Hide the caret for the dropdowns.
    content: none;
}

nav .dropdown-submenu .dropdown-toggle::after {
    // But show it for the sub-submenus.
    content: " " !important;
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 2px;

    &:focus {
        outline: 0;
    }

    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
    .icon-bar + .icon-bar {
        margin-top: 4px;
    }

    @media (min-width: $grid-float-breakpoint) {
        display: none;
    }

    border-color: #ddd;
    &:hover,
    &:focus {
        background-color: #ddd;
    }
    .icon-bar {
        background-color: #333;
    }
}

.nav-message {
    background: $via-blue;
    color: #fff;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 1em;

    width: 100%;

    .nav-message-text {
        a {
            color: #fff;
            text-decoration: underline;
        }

        p {
            margin: 0;
        }
    }
}
