#jumbotron {
    width: 100%;
    min-height: 300px;
    margin-bottom: 30px;
    margin-top: -20px;
    color: #fff;
    background-position: center;
    background-size: cover;
    border-radius: 0;
    overflow-wrap: break-word;

    address {
        margin-top: 120px;
        max-width: 50%;
        float: right;
        text-align: right;
        ul {
            list-style: none;
        }
    }

    @include media-breakpoint-down(sm) {
        h1 {
            font-size: 3rem;
        }
    }
}

a {
    h2 {
        color: #333;
    }
}

// Activities
.activity-simple {
    margin-bottom: 15px;
    overflow: hidden;

    .activity-simple-content {
        font-size: $font-size-small;
        padding: 1rem;
        border-radius: 0 0 0.25rem 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 0;

        .fa,
        .fas,
        .far {
            width: 1.4rem;
        }
    }

    .activity-till-now {
        position: absolute;
        right: 1rem;
        bottom: 5px;
    }

    .activity-header {
        width: 100%;
        position: relative;
        overflow: hidden;
        border: 1px solid #273d85;
        background-color: #304ba3;
        color: white;
        border-radius: 0.25rem 0.25rem 0 0;

        h3 {
            padding: 0.75rem 1rem;
            position: relative;

            a {
                color: white;
            }
        }
    }
}

// News article
article {
    .read-more {
        margin-top: -1em;
    }

    .user {
        display: flex;
        align-items: center;

        img.avatar {
            border: 1px solid #eee;
            width: 40px;
            height: 40px;
            border-radius: 20px;
        }

        .meta {
            margin-left: 10px;

            .author {
                font-weight: 600;
            }

            .sponsored {
                flex: none;
            }

            .date {
                color: #999;
            }
        }
    }
}

// Jobs
.job-simple {
    display: flex;
    min-height: 140px;
}

.job-simple-left {
    margin-right: 10px;
    flex: 0 0 6em;
    position: relative;
    img {
        margin: auto;
        top: 0;
        bottom: 0;
        position: absolute;
    }
}
