// Style used in pimpy_single_minute.vue and pimpy_minutes.vue

.pimpy_minute_styled {
    padding: 10px;
    font-family: sans-serif;

    // Single line
    a {
        display: block;
        color: black;
        padding: 2px 0px;
        text-decoration: none;
        border-bottom: 1px solid #efecec;

        .pimpy_line_number {
            width: 6%;
            float: left;
            padding-top: 8px;
            font-size: 10px;
            font-style: oblique;
        }

        &.selected_line {
            background-color: rgba(194, 194, 194, 0.25);
            border-right: 5px solid rgb(119, 119, 119);
        }
    }
}
