<template lang="pug">
a-list-item
    a-list-item-meta
        template(v-slot:title="")
            | {{ $t('greeting') }} # {{ index + 1 }}
        template(v-slot:description="")
            .greetings
                .from
                    label Groetjes van:
                    a-input(
                        placeholder="Robbert B",
                        @change="change",
                        @blur="change",
                        v-model="value.sender"
                    )
                .greeting_input
                    a-input(
                        placeholder="Groetjes aan",
                        @change="change",
                        @blur="change",
                        v-model="value.nl"
                    )
                    a-input(
                        placeholder="Hi to",
                        @change="change",
                        @blur="change",
                        v-model="value.en"
                    )
    template(v-slot:actions="")
        span(@click="() => $emit('delete')")
            a-icon.action-icon(type="delete")
            | {{ $t('action.delete') }}
        span(@click="() => $emit('up')")
            a-icon.action-icon(type="up")
            | {{ $t('action.up') }}
        span(@click="() => $emit('down')")
            a-icon.action-icon(type="down")
            | {{ $t('action.down') }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Icon, Input, List } from "ant-design-vue";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";

@Component({
    components: {
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
        "a-icon": Icon,
        "a-input": Input,
    },
})
export default class EditNewsletterGreeting extends Vue {
    @Prop({ required: true }) value: { en: string; nl: string; sender: string };
    @Prop({ required: true }) index: number;

    form: WrappedFormUtils | null = null;

    async change() {
        this.$emit("input", this.value);
    }
}
</script>

<style scoped lang="scss">
.greetings {
    > * {
        margin-top: 0.5em;
    }

    .from {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        label {
            min-width: fit-content;
            margin-bottom: 0;
            margin-right: 0.3em;
        }
    }

    .greeting_input {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
    }
}

.ant-form-item {
    width: 100%;
    margin-bottom: 0;
}

.action-icon {
    margin-right: 8px;
}
</style>
<i18n src="./newsletter.json"></i18n>
