<!-- eslint-disable vue/multi-word-component-names -->
<template>
    <div class="loading-container">
        <svg
            version="1.1"
            id="beeldmerk"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="5 65 300 300"
            xml:space="preserve"
        >
            <!-- Top X  -->
            <path
                class="cross-1"
                :fill="color"
                d="M165.8,157c-0.7-0.7-0.7-1.9,0-2.7l12-11.9c0.7-0.7,0.7-1.8,0-2.5l-7.4-7.4c-0.7-0.7-1.8-0.7-2.5,0l-11.9,12
            c-0.7,0.7-1.9,0.7-2.7,0l-11.9-11.9c-0.7-0.7-1.8-0.7-2.5,0l-7.4,7.4c-0.7,0.7-0.7,1.8,0,2.5l11.9,11.9c0.7,0.7,0.7,1.9,0,2.7
            l-11.8,11.8c-0.7,0.7-0.7,1.8,0,2.5l7.4,7.4c0.7,0.7,1.8,0.7,2.5,0l10.4-10.4h0l1.4-1.4c0.7-0.7,1.9-0.7,2.7,0l11.9,11.9
            c0.7,0.7,1.8,0.7,2.5,0l7.4-7.4c0.7-0.7,0.7-1.8,0-2.5L165.8,157z"
            />
            <!-- Middle X  -->
            <path
                class="cross-2"
                :fill="color"
                d="M165.8,211.5c-0.7-0.7-0.7-1.9,0-2.7l12-11.9c0.7-0.7,0.7-1.8,0-2.5l-7.4-7.4c-0.7-0.7-1.8-0.7-2.5,0l-11.9,12
            c-0.7,0.7-1.9,0.7-2.7,0l-11.9-11.9c-0.7-0.7-1.8-0.7-2.5,0l-7.4,7.4c-0.7,0.7-0.7,1.8,0,2.5l11.9,11.9c0.7,0.7,0.7,1.9,0,2.7
            l-11.8,11.8c-0.7,0.7-0.7,1.8,0,2.5l7.4,7.4c0.7,0.7,1.8,0.7,2.5,0l10.4-10.4h0l1.4-1.4c0.7-0.7,1.9-0.7,2.7,0l11.9,11.9
            c0.7,0.7,1.8,0.7,2.5,0l7.4-7.4c0.7-0.7,0.7-1.8,0-2.5L165.8,211.5z"
            />
            <!-- Bottom X  -->
            <path
                class="cross-3"
                :fill="color"
                d="M165.8,266c-0.7-0.7-0.7-1.9,0-2.7l12-11.9c0.7-0.7,0.7-1.8,0-2.5l-7.4-7.4c-0.7-0.7-1.8-0.7-2.5,0l-11.9,12
            c-0.7,0.7-1.9,0.7-2.7,0l-11.9-11.9c-0.7-0.7-1.8-0.7-2.5,0l-7.4,7.4c-0.7,0.7-0.7,1.8,0,2.5l11.9,11.9c0.7,0.7,0.7,1.9,0,2.7
            l-11.8,11.8c-0.7,0.7-0.7,1.8,0,2.5l7.4,7.4c0.7,0.7,1.8,0.7,2.5,0l10.4-10.4h0l1.4-1.4c0.7-0.7,1.9-0.7,2.7,0l11.9,11.9
            c0.7,0.7,1.8,0.7,2.5,0l7.4-7.4c0.7-0.7,0.7-1.8,0-2.5L165.8,266z"
            />
            <!-- Left Bracket  -->
            <path
                class="bracket-l"
                :fill="color"
                d="M75.8,203.1c2.1-0.1,4.2-0.3,6.2-1.2c2.5-1.1,4.1-3.1,5.1-5.6c1.4-3.5,1.6-7.1,1.7-10.8c0.1-3.7,0-7.4,0.2-11.1
            c0.2-3.4,0.3-6.9,1.3-10.2c1.2-3.9,3.6-6.8,7.2-8.8c4.1-2.2,8.5-2.7,13-2.9c1.6-0.1,3.1,0,4.7,0c1.5,0,1.8,0.4,1.8,1.8
            c0,3.7,0,7.3,0,11c0,1.4-0.3,1.7-1.8,1.8c-1.9,0.1-3.8,0.2-5.7,0.5c-2.6,0.4-4.2,2.1-4.5,4.7c-0.2,1.4-0.2,2.9-0.3,4.3
            c-0.3,5.5-0.4,11-0.8,16.5c-0.3,4.2-1.4,8.2-4,11.6c-1,1.3-2.3,2.4-3.5,3.5c-0.4,0.4-0.9,0.7-1.3,1c-0.8,0.7-0.7,1.3,0.1,2
            c1.3,1.1,2.5,2.3,3.7,3.4c1.7,1.7,2.7,3.8,3.5,6c1.6,4.4,1.8,9,2,13.6c0.2,4.2,0.3,8.5,0.4,12.7c0,0.8,0.2,1.7,0.5,2.5
            c0.8,2.4,2.9,3.3,5.2,3.6c1.7,0.2,3.4,0.3,5,0.4c1.1,0.1,1.4,0.4,1.4,1.5c0,3.9,0,7.8,0,11.7c0,1.1-0.4,1.5-1.5,1.6
            c-4.8,0-9.7,0-14.4-1.4c-3.4-1-6.2-2.9-8.4-5.7c-2.2-2.9-3.2-6.2-3.4-9.7c-0.3-4.4-0.3-8.7-0.5-13.1c-0.1-3.2-0.3-6.5-0.6-9.7
            c-0.2-2.3-1.1-4.5-2.3-6.5c-1.2-2.2-3.3-3.2-5.6-3.8c-1.5-0.4-3-0.5-4.5-0.8C75.8,212.9,75.8,208,75.8,203.1z"
            />
            <!-- Right Bracket  -->
            <path
                class="bracket-r"
                :fill="color"
                d="M233.7,203.1c-2.1-0.1-4.2-0.3-6.2-1.2c-2.5-1.1-4.1-3.1-5.1-5.6c-1.4-3.5-1.6-7.1-1.7-10.8c-0.1-3.7,0-7.4-0.2-11.1
            c-0.2-3.4-0.3-6.9-1.3-10.2c-1.2-3.9-3.6-6.8-7.2-8.8c-4.1-2.2-8.5-2.7-13-2.9c-1.6-0.1-3.1,0-4.7,0c-1.5,0-1.8,0.4-1.8,1.8
            c0,3.7,0,7.3,0,11c0,1.4,0.3,1.7,1.8,1.8c1.9,0.1,3.8,0.2,5.7,0.5c2.6,0.4,4.2,2.1,4.5,4.7c0.2,1.4,0.2,2.9,0.3,4.3
            c0.3,5.5,0.4,11,0.8,16.5c0.3,4.2,1.4,8.2,4,11.6c1,1.3,2.3,2.4,3.5,3.5c0.4,0.4,0.9,0.7,1.3,1c0.8,0.7,0.7,1.3-0.1,2
            c-1.3,1.1-2.5,2.3-3.7,3.4c-1.7,1.7-2.7,3.8-3.5,6c-1.6,4.4-1.8,9-2,13.6c-0.2,4.2-0.3,8.5-0.4,12.7c0,0.8-0.2,1.7-0.5,2.5
            c-0.8,2.4-2.9,3.3-5.2,3.6c-1.7,0.2-3.4,0.3-5,0.4c-1.1,0.1-1.4,0.4-1.4,1.5c0,3.9,0,7.8,0,11.7c0,1.1,0.4,1.5,1.5,1.6
            c4.8,0,9.7,0,14.4-1.4c3.4-1,6.2-2.9,8.4-5.7c2.2-2.9,3.2-6.2,3.4-9.7c0.3-4.4,0.3-8.7,0.5-13.1c0.1-3.2,0.3-6.5,0.6-9.7
            c0.2-2.3,1.1-4.5,2.3-6.5c1.2-2.2,3.3-3.2,5.6-3.8c1.5-0.4,3-0.5,4.5-0.8C233.7,212.9,233.7,208,233.7,203.1z"
            />
            <!-- Inset Dropshadow -->
            <filter id="inset-shadow">
                <feOffset dx="0" dy="1" />
                <feGaussianBlur stdDeviation="1" result="offset-blur" />
                <feComposite
                    operator="out"
                    in="SourceGraphic"
                    in2="offset-blur"
                    result="inverse"
                />
                <feFlood
                    flood-color="black"
                    flood-opacity="0.8"
                    result="color"
                />
                <feComposite
                    operator="in"
                    in="color"
                    in2="inverse"
                    result="shadow"
                />
                <feComposite operator="over" in="shadow" in2="SourceGraphic" />
            </filter>
        </svg>
    </div>
</template>

<script>
export default {
    props: ["color"],
    data: function () {
        return {};
    },
};
</script>

<style lang="scss" scoped>
@keyframes bobble-l {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes bobble-r {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.loading-container {
    position: relative;
    height: 100%;
}

svg {
    filter: url(#inset-shadow);
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    max-width: 100%;
}

.bracket-r {
    animation: bobble-r 1.5s ease infinite;
}

.bracket-l {
    animation: bobble-l 1.5s ease infinite;
}
</style>
