<template>
    <div class="vue-simplemde">
        <textarea
            ref="textarea"
            class="vue-simplemde-textarea"
            :name="name"
            :value="modelVal"
            @input="handleInput($event.target.value)"
        />
    </div>
</template>

<script lang="ts">
import SimpleMDE from "simplemde";
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { previewRender as previewRenderFunc } from "../../utils/form";

@Component({
    model: { prop: "value", event: "change.value" },
})
export default class VueSimpleMde extends Vue {
    @Prop() private value: string;
    @Prop() private name: string;

    private modelVal = "";
    private simplemde: any = null;
    private isValueUpdateFromInner = false;

    mounted() {
        const youTubeButton = {
            name: "YouTube",
            className: "fa fa-youtube",
            title: this.$t("youtube_hint"),
            action: (editor) => {
                const cm = editor.codemirror;
                let url = "https://youtube.com/watch?v=";

                if (editor.options.promptURLs) {
                    const promptResult = prompt(
                        this.$t("youtube_enter_url") as string
                    );
                    if (!promptResult) {
                        return false;
                    }
                    url = promptResult;
                }

                cm.replaceRange(
                    `![A YouTube video](${url})\n`,
                    cm.getCursor("start")
                );
            },
        };
        const pretixButton = {
            name: "Pretix Widget",
            className: "fa fa-ticket",
            title: this.$t("pretix_hint"),
            action: (editor) => {
                const cm = editor.codemirror;
                let url;

                if (editor.options.promptURLs) {
                    const promptResult = prompt(
                        this.$t("pretix_enter_url") as string
                    );
                    if (!promptResult) {
                        return false;
                    }
                    url = promptResult;
                }

                cm.replaceRange(`[pretix "${url}"]\n`, cm.getCursor("start"));
            },
        };

        const configs = {
            element: this.$refs.textarea,
            previewRender: previewRenderFunc,
            renderingConfig: {},
            spellChecker: false,
            promptURLs: true,
            toolbar: [
                "bold",
                "italic",
                "strikethrough",
                "|",
                "heading",
                "heading-smaller",
                "heading-bigger",
                "|",
                "code",
                "quote",
                "unordered-list",
                "ordered-list",
                "clean-block",
                "|",
                "link",
                "image",
                youTubeButton,
                pretixButton,
                "table",
                "|",
                "preview",
                "guide",
                "|",
                "undo",
                "redo",
            ],
            status: [
                "lines",
                "words",
                "cursor",
                {
                    className: "characters",
                    defaultValue: (el) => {
                        el.innerHTML = `0`;
                    },
                    onUpdate: (el) => {
                        const text = this.simplemde.value();
                        el.innerHTML = `${text.length}`;
                    },
                },
            ],
        };
        this.simplemde = new SimpleMDE(configs);
        this.bindingEvents();
        // Initial setup does not trigger the watch on value.
        this.watchValue(this.value);
    }

    deactivated() {
        const editor = this.simplemde;
        if (!editor) return;
        const isFullScreen = editor.codemirror.getOption("fullScreen");
        if (isFullScreen) editor.toggleFullScreen();
    }

    destroyed() {
        this.simplemde = null;
    }

    private bindingEvents() {
        this.simplemde.codemirror.on("change", () => {
            const val = this.simplemde.value();
            this.handleInput(val);
        });
    }

    private handleInput(val) {
        this.isValueUpdateFromInner = true;
        this.$emit("input", val);
        this.$emit("change", val);
    }

    @Watch("value")
    private watchValue(val) {
        if (this.isValueUpdateFromInner) {
            this.isValueUpdateFromInner = false;
            return;
        }
        this.simplemde.value(val);
        this.$nextTick(() => this.simplemde.codemirror.refresh());
        this.modelVal = val;
    }
}
</script>

<style lang="sass">
@import "simplemde/dist/simplemde.min.css"
</style>

<style lang="sass" scoped>
.vue-simplemde .markdown-body
    padding: 0.5em

.vue-simplemde .editor-preview-active, .vue-simplemde .editor-preview-active-side
    display: block

.has-error .vue-simplemde .editor-toolbar,
.has-error .vue-simplemde .CodeMirror-wrap
    border-color: #f5222d

.vue-simplemde
    line-height: 1.5
</style>

<i18n>
{
    "en": {
        "youtube_hint": "Insert a YouTube video",
        "youtube_enter_url": "Enter the URL of the YouTube video",
        "pretix_hint": "Insert a Pretix widget",
        "pretix_enter_url": "Enter the 'Short form' of the Pretix event, located in Pretix Event settings."
    },
    "nl": {
        "youtube_hint": "Voeg een YouTube-video in",
        "youtube_enter_url": "Voer the URL naar de YouTube-video in",
        "pretix_hint": "Voeg een Pretix widget",
        "pretix_enter_url": "Voer de 'Korte vorm' van het Pretix evenement in, te vinden in Pretix evenement settings."
    }
}
</i18n>
