<template lang="pug">
a-spin(:spinning="loading")
    h1 {{ $t('New minute') }}

    a-form(:form="form", @submit.prevent="save")
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )

        a-form-item(v-bind="formItemLayout", :label="$t('Content')")
            a-textarea(
                v-decorator="['content', {rules: [{ required: true, message: $t('Please enter minute content') }]}, {initialValue: ''}]",
                :rows="10"
            )

        a-form-item(v-bind="formItemLayout", :label="$t('Date')")
            a-date-picker(
                v-decorator="['date', {rules: [{ required: true, message: $t('Please select a date') }]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Group')")
            a-select(
                v-decorator="['group_id', { rules: [{required: true, message: $t('Please select a group') }]}]"
            )
                a-select-option(
                    v-for="userGroup in userGroups",
                    :value="userGroup.id",
                    :key="userGroup.id"
                ) {{ userGroup.name }}
        a-form-item(
            v-bind="formItemLayout",
            :label="$t('Delete finished tasks')"
        )
            a-checkbox(
                v-decorator="['delete_finished_tasks', { valuePropName: 'checked', initialValue: false }]"
            )
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="{ name: 'pimpy-minutes' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate") {{ $t('Back') }}
                a-button(type="primary", html-type="submit") {{ $t('Submit') }}

            a-alert.mt-3(
                type="error",
                :message="$t('Errors in minute content')",
                v-if="hasErrors"
            )
                template(v-slot:description="")
                    a-list(
                        item-layout="horizontal",
                        :data-source="errors",
                        size="small"
                    )
                        template(v-slot:renderItem="item")
                            a-list-item
                                a-list-item-meta
                                    template(v-slot:title="") {{ $t(item.error) }}
                                    template(v-slot:description="") {{ item.details }}
                                div {{ $t('Line') }} {{ item.line }}
</template>

<script lang="ts">
import { validateAntForm } from "../../utils/form";
import { Component, Prop, Vue } from "vue-property-decorator";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { Groups } from "../../scripts/api/user";
import { pimpyApi } from "../../scripts/api/pimpy";
import moment from "moment";
import LoadingContainer from "../loading_container.vue";
import {
    Alert,
    Button,
    Checkbox,
    DatePicker,
    Form,
    Input,
    List,
    notification,
    Select,
    Spin,
} from "ant-design-vue";

@Component({
    methods: { moment: moment },
    components: {
        "loading-container": LoadingContainer,
        "a-form": Form,
        "a-spin": Spin,
        "a-form-item": Form.Item,
        "a-checkbox": Checkbox,
        "a-textarea": Input.TextArea,
        "a-date-picker": DatePicker,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-alert": Alert,
        "a-list": List,
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
    },
})
export default class CreateMinute extends Vue {
    @Prop(Array) userGroups: Groups[];
    @Prop() groupId: number | null;
    loading = true;
    errors = [];
    form: WrappedFormUtils | null = null;
    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        this.form!.setFieldsValue({
            date: moment(),
            group_id: this.groupId ? this.groupId : "",
        });
        this.loading = false;
    }

    get hasErrors() {
        return !!this.errors.length;
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
            values["date"] = values.date.format("YYYY-MM-DD");
        } catch (e) {
            return; // Form didn't validate
        }
        try {
            this.loading = true;
            this.errors = [];
            const resp = (await pimpyApi.createMinute(values)).data;
            await notification.success({
                message: this.$t("Success") as string,
                description: this.$t("Minute succesfully created.") as string,
            });
            this.$router.push({
                name: "pimpy-minute-single",
                params: { minuteId: String(resp.id) },
            });
        } catch (e) {
            if (e.response.status == 400) {
                this.errors = e.response.data.data;
            }
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n src="./create_minute.json"></i18n>
