<template lang="pug">
a-spin(:spinning="loading")
    h1 {{ $t('Minutes') }}
    .mb-3(
        v-for="group_with_minutes in minutes",
        :key="group_with_minutes.group.id"
    )
        h3 {{ group_with_minutes.group.name }}
        a-collapse(:accordion="true", v-if="group_with_minutes.minutes.length")
            a-collapse-panel(
                v-for="minute in group_with_minutes.minutes",
                :key="minute.id"
            )
                template(v-slot:header="")
                    | {{ $t('From') }} {{ date(minute.date) }}
                template(v-slot="")
                    a(:href="minuteRawUrl(minute.id)", target="_blank") {{ $t('View plaintext') }}
                    .pimpy_minute_styled
                        a(
                            :id="`m${minute.id}ln${idx}`",
                            v-for="(line, idx) in minuteContent(minute.content)"
                        )
                            span.pimpy_line_number {{ idx }}
                            span {{ line.trim() || '&nbsp;' }}
        a-empty(
            v-else,
            :image="emptyImage",
            :description="$t('No minutes available')"
        )
</template>

<script lang="ts">
import { Collapse, Empty, Spin } from "ant-design-vue";
import { Groups } from "../../scripts/api/user";
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { GroupMinutes, pimpyApi } from "../../scripts/api/pimpy";
import Flask from "../../utils/flask";
import { date } from "../../scripts/formatters";

@Component({
    components: {
        "a-spin": Spin,
        "a-empty": Empty,
        "a-collapse": Collapse,
        "a-collapse-panel": Collapse.Panel,
    },
    methods: { date: date },
})
export default class PimpyMinutes extends Vue {
    @Prop(Array) userGroups: Groups[];
    @Prop() groupId: number | null;

    minutes: GroupMinutes[] = [];
    loading = true;

    get emptyImage() {
        // eslint-disable-next-line @typescript-eslint/ban-ts-comment
        // @ts-ignore
        return Empty.PRESENTED_IMAGE_SIMPLE;
    }

    async mounted() {
        await this.load();
    }

    @Watch("groupId")
    async load() {
        this.loading = true;
        if (this.groupId) {
            this.minutes = (
                await pimpyApi.getMinutesForGroup(this.groupId)
            ).data;
        } else {
            this.minutes = (await pimpyApi.getMinutes()).data;
        }
        this.loading = false;
    }

    minuteRawUrl(minuteId: number) {
        return Flask.url_for("pimpy.view_minute_raw", { minute: minuteId });
    }

    minuteContent(content: string) {
        return content.split(/\r?\n/);
    }
}
</script>

<i18n src="./pimpy_minutes.json"></i18n>
