{% extends "base.htm" %}

{% from "macros/form.htm" import render_form, render_recaptcha, render_checkbox,
    render_checkbox_well, render_submit, ignore_kwargs %}
{% from "user/macros/signup_nav.htm" import render_signup_nav %}

{% block title %}{{ _('Sign up details') }}{% endblock %}

{% macro submit_renderer() %}
    {% if student_id is defined %}
        <legend>{{ _("UvA student information") }}</legend>
        <ul class="list-unstyled">
            <li>{{ _("Student ID") }}: {{ student_id }}</li>
            <li>{{ _('Study programmes') }}: {{ (educations | join(", ")) if educations else _('None found') }} </li>
        </ul>
    {% endif %}

    {% set link = '<a href="{}" target="_blank">{}</a>'.format(privacy_policy_url, _('Privacy Policy')) | safe %}
    {{ render_recaptcha(form.recaptcha) }}
    {{ render_checkbox_well(form.agree_with_privacy_policy, label=_('Yes, I agree to the %(link)s.', link=link)) }}
    {{ render_submit(_('Register')) }}
{% endmacro %}

{% block page %}
    <div class="row">
        <div class="col">
            {{ render_signup_nav(step=2,
                show_payment_step=membership_fee is defined and membership_fee is not none and membership_fee != 0) }}
            <hr/>
            <h1>{{ _("Join our association!") }}</h1>
            <div class="row col-md-9 col-sm-12">
                <p class="text-justify">{{ _('Welcome to our study association! In order to participate in our activities and stay informed about relevant events, we need some information from you, such as your address and study details. This information allows us to, for example, send magazines and maintain other forms of communication with you.') }} </p>
            </div>
            <hr/>
            {{ render_form(form, form_name="sign_up", submit_renderer=submit_renderer) }}
        </div>
    </div>

{% endblock %}

{% block post_main_include %}
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock %}
