<template lang="pug">
div
    a-breadcrumb
        a-breadcrumb-item
            a(:href="adminUrl") Admin
        a-breadcrumb-item
            router-link(:to="{ name: 'mailinglists-overview' }") Mailing lists
    h1 Mailing lists overview

    router-link.mb-3(
        :to="{ name: 'mailinglist-create' }",
        v-slot="{href, navigate}"
    )
        a-button(type="primary", :href="href", @click="navigate")
            | Create mailing list

    a-config-provider
        template(v-slot:renderEmpty="")
            a-empty(description="No mailing lists found")
        a-table(
            :columns="columns",
            :rowKey="(record) => record.id",
            :dataSource="mailingLists",
            :pagination="false",
            :loading="loading",
            :bodyStyle="{ 'overflow-x': 'auto' }"
        )
            template(v-slot:member_only="record")
                template(v-if="!!record.members_only") Ja
                template(v-else) Nee
            template(v-slot:default="record")
                template(v-if="!!record.default") Ja
                template(v-else) Nee

            template(v-slot:actions="record")
                router-link(
                    :to="{ name: 'mailinglist-edit', params: { mailingListId: record.id } }",
                    v-slot="{ href, navigate }"
                )
                    a-button(type="link", :href="href", @click="navigate") Edit
                a-divider(type="vertical")
                a-popconfirm(
                    title="Sure to delete?",
                    @confirm="deleteMailingList(record.id)"
                )
                    a-button(type="link") Delete
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import Flask from "../../utils/flask";
import instance from "../../utils/axios";
import { MailingList } from "../../types/mailinglists";
import {
    Button,
    Breadcrumb,
    ConfigProvider,
    Popconfirm,
    Divider,
    Table,
    Empty,
} from "ant-design-vue";

@Component({
    components: {
        "a-button": Button,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-config-provider": ConfigProvider,
        "a-table": Table,
        "a-empty": Empty,
        "a-popconfirm": Popconfirm,
        "a-divider": Divider,
    },
})
export default class MailingListsOverview extends Vue {
    private mailingLists: MailingList[] = [];
    private loading = true;
    private columns = [
        {
            title: "Dutch name",
            dataIndex: "nl_name",
        },
        {
            title: "English name",
            dataIndex: "en_name",
        },
        {
            title: "Copernica column name",
            dataIndex: "copernica_column_name",
        },
        {
            title: "Members only",
            key: "member_only",
            scopedSlots: { customRender: "member_only" },
        },
        {
            title: "Default",
            key: "default",
            scopedSlots: { customRender: "default" },
        },
        {
            title: "Actions",
            key: "actions",
            scopedSlots: { customRender: "actions" },
        },
    ];

    async mounted() {
        await this.updateMailingLists();
        this.loading = false;
    }

    private async updateMailingLists() {
        const resp = await instance.get(Flask.url_for("api.mailinglists", {}));
        this.mailingLists = resp.data;
    }

    private async deleteMailingList(id: number) {
        await instance.delete(
            Flask.url_for("api.mailinglist", {
                mailinglist_id: id,
            })
        );

        await this.updateMailingLists();
    }

    get adminUrl() {
        return Flask.url_for("admin.view");
    }
}
</script>
