{% extends "base/en.html" %}

{% block title -%}
    {{ user.name }} has registered as tutor for {{ registrations | length }} course(s).
{%- endblock %}

{% block content -%}
    <p>
        <b>{{ user.name }}</b> has registered as tutor for {{ registrations | length }} course(s):
        <ul>
            {% for registration in registrations %}
                <li>
                    <b>{{ registration.course.name }} (grade {{ registration.grade / 10 }})</b>
                </li>
            {% endfor %}
        </ul>

        Approve the registration(s) <a href="{{ tutor_overview_url }}">here</a>.
    </p>
{%- endblock %}
