<template lang="pug">
.row
    h1(v-if="!jobId") Create company job
    h1(v-if="jobId") Edit {{ form.getFieldValue('title_nl') }} / {{ form.getFieldValue('title_en') }}

    a-form.col-md-12(:form="form", @submit.prevent="save")
        .row
            .col-md-6
                a-form-item(v-bind="formItemLayout", label="Dutch title")
                    a-input(
                        v-decorator="['title_nl', { rules: [{ required: true, message: 'Please enter the Dutch title.' }] }]"
                    )
                a-form-item(v-bind="formItemLayout", label="Dutch description")
                    vue-simple-mde(
                        v-decorator="['description_nl', { rules: [{ required: true, message: 'Please enter the Dutch description.' }]}]"
                    )
                a-form-item(v-bind="formItemLayout", label="Contact name")
                    a-input(
                        v-decorator="['contact_name', { rules: [{ required: true, message: 'Please enter the contact name.' }] }]"
                    )
                a-form-item(v-bind="formItemLayout", label="Contact email")
                    a-input(
                        v-decorator="['contact_email', { rules: [{ required: true, message: 'Please enter the contract email.'}, {validator: emailValidation} ] }]"
                    )
                a-form-item(v-bind="formItemLayout", label="Contact address")
                    a-input(
                        v-decorator="['contact_address', { rules: [{ required: true, message: 'Please enter the contact address.' }] }]"
                    )
                a-form-item(v-bind="formItemLayout", label="Contact city")
                    a-input(
                        v-decorator="['contact_city', { rules: [{ required: true, message: 'Please enter the contact city.' }] }]"
                    )

            .col-md-6
                a-form-item(v-bind="formItemLayout", label="English title")
                    a-input(
                        v-decorator="['title_en', { rules: [{ required: true, message: 'Please enter the English title.' }] }]"
                    )
                a-form-item(
                    v-bind="formItemLayout",
                    label="English description"
                )
                    vue-simple-mde(
                        v-decorator="['description_en', { rules: [{ required: true, message: 'Please enter the English description.' }]}]"
                    )
                a-form-item(v-bind="formItemLayout", label="Phone number")
                    a-input(
                        v-decorator="['phone', { rules: [{ required: false, message: 'Please enter the phone number.' }] }]"
                    )
                a-form-item(v-bind="formItemLayout", label="Website")
                    a-input(
                        v-decorator="['website', { rules: [{ required: true, message: 'Please enter the website.' }, {validator: urlValidation}] }]"
                    )

                a-form-item(v-bind="formItemLayout", label="Contract Type")
                    a-radio-group(v-decorator="['contract_of_service']")
                        a-radio-button(value="full-time") Full-time
                        a-radio-button(value="part-time") Part-time
                        a-radio-button(value="internship") Internship
                        a-radio-button(value="thesis") Thesis

        .row
            .col-md-6
                a-form-item(v-bind="formItemLayout", label="Contract date")
                    a-range-picker(
                        v-decorator="['jobDate', {rules: [{ type: 'array', required: true, message: 'Please date range!' }]}]",
                        :ranges="ranges"
                    )
                a-form-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
                )
                    a-button-group
                        router-link(
                            :to="$route.meta.from || { name: 'edit-company', params: { companyId: companyId } }",
                            v-slot="{ href, navigate }"
                        )
                            a-button(:href="href", @click="navigate")
                                | Back
                        a-button(type="primary", html-type="submit") Submit
            .col-md-6
                a-form-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
                )
                    a-checkbox(
                        v-decorator="['enabled',  {valuePropName: 'checked', initialValue: false}]"
                    ) Enabled
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import moment from "moment";
import {
    emailValidation,
    urlValidation,
    validateAntForm,
} from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import VueSimpleMde from "../common/markdown-editor.vue";
import { companyApi } from "../../scripts/api/company";
import {
    Input,
    Form,
    Radio,
    DatePicker,
    Button,
    Checkbox,
    notification,
} from "ant-design-vue";

@Component({
    methods: {
        urlValidation: urlValidation,
        emailValidation: emailValidation,
    },
    components: {
        "vue-simple-mde": VueSimpleMde,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input": Input,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-range-picker": DatePicker.RangePicker,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-checkbox": Checkbox,
    },
})
export default class EditCompanyJobForm extends Vue {
    private loading = false;
    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 8 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 16 },
        },
    };

    private ranges = {
        "Set to 1 year": [moment(), moment().add(moment.duration(1, "years"))],
    };

    created(): void {
        this.form = this.$form.createForm(this);
    }

    async mounted(): Promise<void> {
        if (this.jobId) {
            const resp = await companyApi.getCompanyJob(this.jobId);
            const fields: any = resp.data;
            fields["jobDate"] = [
                moment(fields.start_date),
                moment(fields.end_date),
            ];
            delete fields.start_date;
            delete fields.end_date;

            if (fields.description_nl_raw)
                fields.description_nl = fields.description_nl_raw;

            if (fields.description_en_raw)
                fields.description_en = fields.description_en_raw;

            this.form?.setFieldsValue(fields);
        }

        const companyData = await companyApi.getCompany(this.companyId);
        this.ranges["Set to contract"] = [
            moment(companyData.data.contract_start_date),
            moment(companyData.data.contract_end_date),
        ];
    }

    private async save() {
        if (this.loading) return;

        if (!this.form) {
            throw new TypeError("Cannot save without form object.");
        }

        let values;
        try {
            values = await validateAntForm(this.form);
            values["start_date"] = values["jobDate"][0].format("YYYY-MM-DD");
            values["end_date"] = values["jobDate"][1].format("YYYY-MM-DD");
            delete values["jobDate"];
        } catch (e) {
            // Form didn't validate
            return;
        }

        try {
            this.loading = true;

            if (!this.jobId) {
                const resp = await instance.post(
                    Flask.url_for("api.company.jobs", {
                        company: this.companyId,
                    }),
                    values
                );
                this.$router.push({
                    name: "edit-company-job",
                    params: { jobId: resp.data.id },
                });
            } else {
                await instance.put(
                    Flask.url_for("api.job", { job_id: this.jobId }),
                    values
                );
            }
            notification.success({
                message: "Success",
                description: "Company job successfully saved.",
            });
        } finally {
            this.loading = false;
        }
    }

    get companyId(): number {
        return parseInt(this.$route.params["companyId"]);
    }

    get jobId(): number {
        return parseInt(this.$route.params["jobId"]);
    }
}
</script>

<style scoped lang="sass">
.file-select
    cursor: pointer

    #file-input
        display: none
</style>
