<!DOCTYPE html>
<head>
    <title>{{ deal.contract_name }}</title>
    <style>
        * {
            line-height: 1.3;
            font-size: 11pt;
        }

        .center {
            display: block;
            margin: 0 auto;
            width: 30%;
        }

        @page {
            size: A4;
            margin: 11mm 17mm 17mm 17mm;
        }


        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-footer-group;
        }

        table {
            border-collapse: collapse;
        }

        table, th, td {
            table-layout: fixed;
        }

        table {
            width: 100%;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <td colspan="4">
            <img class="center" src="/static/img/logo.svg" width="5cm">
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="4">
            De partijen
            <ul>
                <li>
                    {{ deal.org_name }} gevestigd te {{ deal.org.address_locality }},
                    {{ deal.org.address_postal_code }}
                                        op {{ deal.org.address_route }} {{ deal.org.address_street_number }},
                                        ingeschreven bij de Kamer van Koophandel met nummer {{ deal.kvk }}, te
                                        dezen rechtsgeldig vertegenwoordigd door {{ deal.person }};
                </li>
            </ul>
            en
            <ul>
                <li>
                    Vereniging Informatiewetenschappen Amsterdam (V.I.A.) (verder te noemen '<b>via</b>'),
                    ingeschreven bij de Kamer van Koophandel met nummer 34160464,
                    gevestigd te Amsterdam, 1098 XH op Science Park 942, te dezen rechtsgeldig
                    vertegenwoordigd door {{ s.sign_1 }} en {{ s.sign_2 }}
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            zijn voor de periode {{ deal.contract_period }} het volgende overeengekomen:
        </td>
    </tr>
    {% if prd %}
        {% for p in prd %}
            <tr>
                <td colspan="4" class="contains_vars">
                    <ol start="{{ loop.index }}">
                        <li>
                            <b>{{ p.name }}</b>: {% if p.product %}{{ p.product.description }} {% else %}
                                              {{ _("Product description not found. This most likely means the
                                               product is
                                               deleted. Please make sure the products are configured
                                               correctly in Pipedrive.") }}
                        {% endif %}
                            {% if p.quantity > 1 %}
                                <i>({{ p.quantity }}x)</i>
                            {% endif %}
                        </li>
                    </ol>
                </td>
            </tr>
        {% endfor %}
    {% else %}
    {% endif %}
    <tr>
        <td colspan="4">
            Voor het bovenstaande zal <b>via</b> {{ deal.org_name }} {{ deal.formatted_value }} (zegge:
            {{ deal.zegge_value }} euro) excl. btw in rekening brengen.
            Dit bedrag wordt op {{ deal.invoice_date }} gefactureerd.
            {{ deal.org_name }} heeft een betalingstermijn van 30 dagen.
        </td>
    </tr>
    <tr>
        <td colspan="4">
            Deze overeenkomst wordt beheerst door Nederlands recht.
            Ondergetekenden verklaren gerechtigd te zijn deze overeenkomst namens de respectievelijke partijen te
            ondertekenen.
        </td>
    </tr>
    <tr>
        <td colspan="4">
            Aldus overeengekomen en opgemaakt op {{ deal.contract_date }} te Amsterdam.
        </td>
    </tr>
    <tr>
        <td style="margin-bottom: 20cm; display: block">
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>Voor akkoord,</td>
        <td>Voor akkoord,</td>
        <td></td>
        <td>Voor akkoord,</td>
    </tr>
    <tr style="height: 2.5em;">
    </tr>
    <tr>
        <td>______________</td>
        <td>______________</td>
        <td></td>
        <td>______________</td>
    </tr>
    <tr>
        <td>{{ s.sign_1 }}</td>
        <td>{{ s.sign_2 }}</td>
        <td></td>
        <td>{{ deal.person }}</td>
    </tr>
    </tfoot>
</table>
<script>
    for (let el of document.getElementsByClassName('contains_vars')) {
        el.innerHTML = el.innerHTML.replaceAll("$COMPANY", "{{ deal.org_name }}");
        el.innerHTML = el.innerHTML.replaceAll("$VIA", "<b>via</b>");
    }
</script>
</body>
