{% extends "content.htm" %}

{% block title %}{{ title }}{% endblock %}

{% from "macros/pagination.htm" import render_pagination %}
{% from "macros/form.htm" import render_form %}

{% block page %}
    <h1>{{ _('Deals now in phase "Sent proposal"') }}</h1>
    <table class="table">
        <tr>
            <th>{{ _('Company') }}</th>
            <th>{{ _('Deal') }}</th>
            <th>{{ _('Number of products') }}</th>
            <th>{{ _('Value') }}</th>
            <th></th>
        </tr>
        {% if deals %}
            {% for deal in deals %}
                <tr>
                    <td>{{ deal.org_name }}</td>
                    <td>{{ deal.name }}</td>
                    <td>{{ deal.products_count }}</td>
                    <td>{{ deal.formatted_value }}</td>
                    <td><a class="btn btn-primary" href="{{ deal.create_url }}">{{ _('Create contract') }}</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">No deals found</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}
