{% extends "base.htm" %}

{% from "macros/form.htm" import render_form %}

{% block title %}Contracts settings{% endblock %}

{% block page %}

    <div class="row">
        <div class="col admin-page">
            <h1>Contract settings</h1>

            <i class="fas fa-arrow-left"></i> <a href="{{ url_for('admin.view') }}">Back</a><br><br>
            <div>
                Field ID's can be found in Pipedrive -> Settings -> Datafield -> '...' on the required field -> 'Copy
                API Key'. For more informatioen, see
                <a href="https://pipedrive.readme.io/docs/core-api-concepts-custom-fields#naming-a-custom-field">
                    the Pipedrive documentation
                </a>.
            </div>
            <p>{{ render_form(form) }}</p>
        </div>
    </div>


{% endblock %}
