{% extends "base.htm" %}

{% from "macros/form.htm" import render_form %}

{% block title %}Privacy policies{% endblock %}

{% block page %}
    <div class="row">
        <div class="col admin-page">
            <h1>Privacy policies</h1>
            <i class="fas fa-arrow-left"></i> <a href="{{ url_for('admin.view') }}">Back</a><br><br>

            <p>{{ render_form(form) }}</p>
        </div>
    </div>

{% endblock %}
