<template lang="pug">
div
    h1#title {{ $t('Redirects') }}
    div
        a-form(:form="form", @submit.prevent="save")
            h3 {{ $t('From which URL would you like to redirect?') }}
            a-form-item
                a-auto-complete(
                    v-decorator="['fro', { rules: [{ required: true, message: 'Please enter an URL to redirect from.'}]}]",
                    size="large",
                    :autoFocus="true",
                    :defaultActiveFirstOption="false",
                    @change="debounceCompleteRedirect",
                    style="width: 280px"
                )
                    template(v-slot:dataSource="")
                        a-select-option(
                            v-for="r in redirectsAutoComplete",
                            :key="r.fro"
                        ) {{ r.fro }}

                    a-input(size="large")
                        template(v-slot:suffix="")
                            a-icon(v-if="redirect.id", type="edit")
                            a-icon(v-else, type="plus")

            h3.mt-4 {{ $t('To which URL?') }}
            a-form-item
                a-input(
                    v-decorator="['to', { rules: [{ required: true, message: 'Please enter an URL to redirect to.'}]}]",
                    size="large",
                    style="width: 280px"
                )

            a-form-item
                a-button.mt-3.mb-3(
                    type="primary",
                    icon="save",
                    @click="saveRedirect().then()"
                ) {{ $t('Save') }}
                a-popconfirm(
                    v-if="redirect.id",
                    :title="$t('Are you sure?')",
                    @confirm="deleteRedirect(redirect).then()"
                )
                    a-button.m-3(type="danger", icon="delete", ghost) {{ $t('Delete') }}
    .mt-5(
        @click="allRedirectsCollapsed = !allRedirectsCollapsed",
        style="display: flex"
    )
        a-icon(v-if="allRedirectsCollapsed", type="caret-right")
        a-icon(v-else, type="caret-down")
        h4.ml-1 {{ $t('All redirects') }}

    a-input-search.w-100(
        v-if="!allRedirectsCollapsed",
        :placeholder="$t('Search redirect')",
        v-model="search"
    )
    a-table.mt-3(
        v-if="!allRedirectsCollapsed",
        :columns="columns",
        :rowKey="(entry) => entry.id",
        :dataSource="redirectsData",
        :pagination="pagination",
        :loading="loading",
        :bodyStyle="{ 'overflow-x': 'auto' }",
        @change="handleTableChange"
    )
        template(v-slot:action="entry")
            a-button.mr-2(
                type="primary",
                :href="`/${entry.fro}`",
                icon="link",
                target="_blank"
            ) {{ $t('Open link') }}
            a-button.mr-2(
                @click="setRedirect(entry)",
                href="#title",
                icon="edit"
            )
            a-popconfirm(
                :title="$t('Are you sure?')",
                @confirm="deleteRedirect(entry).then()"
            )
                a-button(type="danger", icon="delete", ghost)
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import {
    Button,
    AutoComplete,
    Input,
    Icon,
    Select,
    Table,
    Popconfirm,
    Form,
    notification,
} from "ant-design-vue";
import { Redirect } from "../../types/redirect";
import { redirectApi } from "../../scripts/api/redirect";
import LoadingContainer from "../loading_container.vue";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { validateAntForm } from "../../utils/form";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import debounce from "../../utils/debounce";

@Component({
    components: {
        "loading-container": LoadingContainer,
        "a-button": Button,
        "a-input": Input,
        "a-icon": Icon,
        "a-auto-complete": AutoComplete,
        "a-select-option": Select.Option,
        "a-select": Select,
        "a-table": Table,
        "a-popconfirm": Popconfirm,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input-search": Input.Search,
    },
})
export default class RedirectOverview extends VuePaginatedAnt {
    private redirectsData: Redirect[] = [];
    private redirectsAutoComplete: Redirect[] = [];
    private form: WrappedFormUtils | null = null;
    private redirect: Redirect = new Redirect("", "");
    private debounceCompleteRedirect = debounce(this.completeRedirect, 300);

    private allRedirectsCollapsed = true;

    private columns = [
        { title: this.$t("From"), dataIndex: "fro", ellipsis: true },
        { title: this.$t("To"), dataIndex: "to", ellipsis: true },
        {
            title: this.$t("Actions"),
            key: "action",
            scopedSlots: { customRender: "action" },
        },
    ];

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        await this.refreshListView();
        this.allRedirectsCollapsed = this.search == "";
    }

    private async completeRedirect(fro: string) {
        let redirect = await this.findRedirectByFro(fro);

        if (!redirect) {
            redirect = new Redirect(fro, "");
        }

        this.setRedirect(redirect);
    }

    private setRedirect(redirect: Redirect) {
        this.redirect = redirect;

        this.form!.setFieldsValue({
            fro: this.redirect.fro,
            to: this.redirect.to,
        });
    }

    private async findRedirectByFro(
        fro: string
    ): Promise<Redirect | undefined> {
        const redirects = (await redirectApi.getAllRedirects(fro, 1, 50)).data
            .data;
        this.redirectsAutoComplete = redirects;

        return redirects.find((redirect) => redirect.fro === fro);
    }

    private async resetPage() {
        await this.refreshListView();
        this.setRedirect(new Redirect("", ""));
    }

    async refreshListView() {
        try {
            this.loading = true;
            const resp = (
                await redirectApi.getAllRedirects(this.search, this.page)
            ).data;

            this.redirectsData = resp.data;
            this.pagination.pageSize = resp.page_size;
            this.pagination.total = resp.total;
        } finally {
            this.loading = false;
        }
    }

    private async saveRedirect(): Promise<boolean> {
        let values;

        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return false; // Form didn't validate
        }

        try {
            this.loading = true;

            await redirectApi.upsertRedirect(
                new Redirect(values["fro"], values["to"])
            );

            notification.success({
                message: "Success",
                description: "Redirect successfully saved.",
            });

            return true;
        } catch (e) {
            let description = e.response.data.detail;

            if (e.response.status === 404) {
                description = "Could not create or edit redirect.";
            }

            notification.error({
                message: "Failed",
                description: description,
            });
        } finally {
            await this.resetPage();
        }
        return false;
    }

    private async deleteRedirect(r: Redirect) {
        if (!r.id) {
            return false;
        }

        try {
            this.loading = true;

            await redirectApi.deleteRedirect(r.id);

            notification.success({
                message: "Success",
                description: "Redirect successfully deleted.",
            });
        } catch (e) {
            if (e.response.status === 404) {
                notification.error({
                    message: "Failed",
                    description: "Could not delete redirect.",
                });
            }
        } finally {
            await this.resetPage();
        }
    }
}
</script>

<i18n src="./redirect_overview.json"></i18n>
