<template lang="pug">
keep-alive
    loading-container(:active="loading")
        a-row
            a-col.create-col(
                v-if="canCreate",
                :lg="{ span: 4, push: canCreate ? 20 : 0 }",
                :md="{ span: 24 }"
            )
                router-link(
                    :to="{ name: 'alv-create' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(type="primary", :href="href", @click="navigate")
                        | {{ $t('Create assembly') }}
            a-col(
                :lg="{ span: canCreate ? 20 : 24, pull: canCreate ? 4 : 0 }",
                :md="{ span: 24 }"
            )
                h1 {{ $t('General assemblies') }}
                    a-tooltip(placement="right")
                        a-icon.english-warning(
                            v-if="locale === 'en'",
                            type="exclamation-circle"
                        )
                        template(v-slot:title="")
                            | {{ $t('ALV Disclaimer') }}

        a-row
            a-col(:lg="{ span: 6, push: 18 }", :md="{ span: 24 }")
                render-page.alv-page(pageUrl="alv", :showTitle="false")
            a-col(:lg="{ span: 18, pull: 6 }", :md="{ span: 24 }")
                .secretary-hint
                    | {{ $t('Did you know you can earn €20,- by taking minutes during a general assembly?') }}
                    | {{ $t('Send an email to') }}
                    a(href="mailto:presco@svia.nl") presco@svia.nl

                template(v-for="year in years")
                    h2 {{ year }}
                    .alv-list
                        alv-overview-item(
                            v-for="alv in alvsPerYear[year]",
                            :key="alv.id",
                            :alv="alv"
                        )
</template>

<style lang="sass" scoped>
@media(min-width: 992px)
    .alv-page
        color: #6d6d6d
        text-align: justify
        margin: 8em 0 0 2em
        padding-left: 1.5em
        border-left: 1px solid #e8e8e8

.english-warning
    display: inline-flex
    margin-left: 0.25em
    font-size: 0.6em
    color: #faad14

.create-col
    text-align: end

.secretary-hint
    padding: 0.5em
    margin-bottom: 0.5em
    text-align: center
    font-style: italic
    position: relative

// This is so that the border is not the full div's width
.secretary-hint:after
    content: ""
    position: absolute
    left: 15%
    bottom: 0
    width: 70%
    border-bottom: 1px solid #e8e8e8

@media(max-width: 992px)
    .secretary-hint:before
        content: ""
        position: absolute
        left: 15%
        top: 0
        width: 70%
        border-bottom: 1px solid #e8e8e8

.alv-list > *
    margin: 0.75em 0
</style>

<script lang="ts">
import { Component, Inject, Vue } from "vue-property-decorator";
import { alvApi, AlvResponse } from "../../scripts/api/alv";
import { Button, Col, Row, Icon, Tooltip } from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import AlvOverviewItem from "./alv_overview_item.vue";
import { authStore } from "../../store/auth";
import RenderPage from "../page/render_page.vue";

@Component({
    components: {
        "a-button": Button,
        "a-button-group": Button.Group,
        "loading-container": LoadingContainer,
        "a-row": Row,
        "a-col": Col,
        "a-icon": Icon,
        "a-tooltip": Tooltip,
        "alv-overview-item": AlvOverviewItem,
        "render-page": RenderPage,
    },
})
export default class AlvOverview extends Vue {
    @Inject() locale!: string;

    loading = true;
    alvsPerYear: { [key: number]: AlvResponse[] } = {};

    async mounted() {
        const alvResp = await alvApi.getAll();

        this.orderByYear(alvResp.data);

        this.loading = false;
    }

    get years() {
        return Object.keys(this.alvsPerYear).sort().reverse();
    }

    get canCreate() {
        return authStore.roles.ALV_WRITE?.has_role;
    }

    private orderByYear(alvs: AlvResponse[]) {
        const perYear: { [key: number]: AlvResponse[] } = {};

        for (const alv of alvs) {
            const date = new Date(alv.date);
            const year = date.getFullYear();

            if (!perYear[year]) {
                perYear[year] = [];
            }
            perYear[year].push(alv);
        }

        this.alvsPerYear = perYear;
    }
}
</script>

<i18n src="./alv.json"></i18n>
