<template lang="pug">
div
    h4 {{ $t('Minutes for ') }} '{{ alv.name[locale] }}'
    edit-alv-minutes(:alv="alv")

    h4 {{ $t('Documents') }}
    edit-alv-document(
        v-for="document in documentsAlphabetical",
        :document="document",
        :key="document.id"
    )

    edit-alv-document(
        v-for="key in newDocumentKeys",
        :alvId="alv.id",
        @document-created="() => (creatingNewDocument = false)",
        @cancel-clicked="onNewDocumentCancelClicked",
        :key="key"
    )

    .document-empty(v-if="!creatingNewDocument")
        a-empty(
            :description="alv.documents.length + newDocumentKeys.length ? '' : $t('No documents')"
        )
            a-button(type="primary", @click="newDocumentPressed") {{ $t('New document') }}
</template>

<style lang="sass" scoped>
.document-empty
    border: 1px dashed #e8e8e8
    padding: 1em
</style>

<script lang="ts">
import { Component, Inject, Prop, Vue } from "vue-property-decorator";
import { AlvResponse } from "../../scripts/api/alv";
import { Button, Empty } from "ant-design-vue";
import EditAlvMinutes from "./edit_alv_minutes.vue";
import EditAlvDocument from "./edit_alv_document.vue";

@Component({
    components: {
        "a-empty": Empty,
        "a-button": Button,
        "edit-alv-minutes": EditAlvMinutes,
        "edit-alv-document": EditAlvDocument,
    },
})
export default class EditALVDocuments extends Vue {
    @Prop({ required: true }) alv: AlvResponse;
    @Inject() locale!: string;

    creatingNewDocument = false;
    newDocumentKeys: number[] = [];

    newDocumentPressed() {
        this.creatingNewDocument = true;
        this.newDocumentKeys.push(this.newDocumentKeys.length + 1);
    }

    async onNewDocumentCancelClicked() {
        this.newDocumentKeys.pop();
        this.creatingNewDocument = false;
    }

    get documentsAlphabetical() {
        if (!this.alv.documents) {
            return [];
        }

        return this.alv.documents!.sort((d1, d2) => {
            return d1.name[this.locale].localeCompare(d2.name[this.locale]);
        });
    }
}
</script>

<i18n src="./alv.json"></i18n>
