<template lang="pug">
a-form(:form="form", @submit.prevent="save")
    a-form-item(v-bind="formItemLayout", :label="$t('Dutch name')")
        a-input(
            v-decorator="['nl_name', { rules: [{ required: true, message: $t('Please enter the dutch name') }]}]"
        )
    a-form-item(v-bind="formItemLayout", :label="$t('English name')")
        a-input(
            v-decorator="['en_name', { rules: [{ required: true, message: $t('Please enter the english name') }]}]"
        )
    a-form-item(v-bind="formItemLayout", :label="$t('Date')")
        a-date-picker(
            v-decorator="['date', { rules: [{ required: true, message: $t('Please enter the date') }] }]"
        )
    a-form-item(v-bind="formItemLayout", :label="$t('Activity')")
        form-activity-field(v-decorator="['activity']")

    a-form-item(v-bind="formItemLayout", :label="$t('Chairman')")
        form-user-field(v-decorator="['chairman']")

    a-form-item(v-bind="formItemLayout", :label="$t('Secretary')")
        form-user-field(v-decorator="['secretary']")

    a-form-item(
        :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
    )
        a-button-group
            a-button(type="primary", html-type="submit", :loading="submitting") {{ $t('Save') }}
</template>

<script lang="ts">
import { validateAntForm } from "../../utils/form";
import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import FormActivityField from "../form/form_activity_field.vue";
import FormUserField from "../form/form_user_field.vue";
import { alvApi, AlvRequest, AlvResponse } from "../../scripts/api/alv";
import moment from "moment";
import {
    Breadcrumb,
    Button,
    DatePicker,
    Form,
    Input,
    notification,
} from "ant-design-vue";

@Component({
    components: {
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input": Input,
        "a-date-picker": DatePicker,
        "a-button": Button,
        "a-button-group": Button.Group,
        "form-activity-field": FormActivityField,
        "form-user-field": FormUserField,
        "a-breadcrumb": Breadcrumb,
    },
})
export default class EditALVDetails extends Vue {
    @Prop() alv?: AlvResponse;

    form?: WrappedFormUtils;

    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    submitting = false;

    alvResponse?: AlvResponse;

    created() {
        this.form = this.$form.createForm(this);
    }

    setFormData() {
        if (!this.alv) {
            return;
        }

        this.form!.setFieldsValue({
            nl_name: this.alv.name.nl,
            en_name: this.alv.name.en,
            date: moment(this.alv.date),
            activity: this.alv.activity,
            chairman: this.alv.chairman
                ? {
                      key: this.alv.chairman.id,
                      label: `${this.alv.chairman.first_name} ${this.alv.chairman.last_name}`,
                  }
                : undefined,
            secretary: this.alv.secretary
                ? {
                      key: this.alv.secretary.id,
                      label: `${this.alv.secretary.first_name} ${this.alv.secretary.last_name}`,
                  }
                : undefined,
        });
    }

    async mounted() {
        this.setFormData();
    }

    @Emit("alv-loaded")
    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            // Form didn't validate

            return null;
        }
        const body: AlvRequest = {
            activity_id: values["activity"]?.id,
            chairman_user_id: values["chairman"]?.key,
            secretary_user_id: values["secretary"]?.key,
            name: {
                nl: values["nl_name"],
                en: values["en_name"],
            },
            date: values["date"].format("YYYY-MM-DD"),
            minutes_accepted: this.alvResponse?.minutes_accepted,
        };

        let data: AlvResponse | null = null;
        try {
            this.submitting = true;

            const resp = this.alv?.id
                ? await alvApi.updateAlv(this.alv.id, body)
                : await alvApi.createAlv(body);

            data = resp.data;

            notification.success({
                message: this.$t("Success") as string,
                description: this.$t(
                    "General assembly successfully saved."
                ) as string,
            });
            // We do not change this component's this.alv, we leave that up
            // to the components that listen to 'alv-loaded'.
            return data;
        } finally {
            this.submitting = false;
        }
    }
}
</script>

<i18n src="./alv.json"></i18n>
