<template lang="pug">
div
    a-form(:form="form", @submit.prevent="save")
        legend {{ $t('Personal details') }}
        a-form-item(v-bind="formItemLayout", :label="$t('E-mail address')")
            a-input(
                v-decorator="['email', {rules: [{ required: true, message: $t('This field is required.') }, {max: 200, message: $t('Field cannot be longer than {len} characters.', {len: 200})}]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('First name')")
            a-input(
                v-decorator="['first_name', {rules: [{ required: true, message: $t('This field is required.') }, {max: 256, message: $t('Field cannot be longer than {len} characters.', {len: 256})}]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Last name')")
            a-input(
                v-decorator="['last_name', {rules: [{ required: true, message: $t('This field is required.') }, {max: 256, message: $t('Field cannot be longer than {len} characters.', {len: 256})}]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Birth date')")
            a-date-picker(
                v-decorator="['birth_date', {rules: [{ required: true, message: $t('This field is required.') }]}]"
            )
        legend {{ $t('Address') }}
        a-form-item(v-bind="formItemLayout", :label="$t('Address')")
            a-input(
                v-decorator="['address', {rules: [{ required: true, message: $t('This field is required.') }, {max: 200, message: $t('Field cannot be longer than {len} characters.', {len: 200})}]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Zip code')")
            a-input(
                v-decorator="['zip', {rules: [{ required: true, message: $t('This field is required.') }, {max: 8, message: $t('Field cannot be longer than {len} characters.', {len: 8})}]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('City')")
            a-input(
                v-decorator="['city', {rules: [{ required: true, message: $t('This field is required.') }, {max: 256, message: $t('Field cannot be longer than {len} characters.', {len: 256})}]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Country')")
            a-select(
                v-decorator="['country', {rules: [{ required: true, message: $t('This field is required.') }, {max: 256, message: $t('Field cannot be longer than {len} characters.', {len: 256})}]}]"
            )
                a-select-option(value="Nederland") Netherlands
                a-select-option(value="No dutch address") I don't have a Dutch address

        legend {{ $t('Optional data') }}

        a-form-item(v-bind="formItemLayout", :label="$t('Phone')")
            a-input(
                v-decorator="['phone_nr', {rules: [{max: 16, message: $t('Field cannot be longer than {len} characters.', {len: 16})}]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Language')")
            a-select(v-decorator="['locale', {}]")
                a-select-option(value="en") English
                a-select-option(value="nl") Nederlands
        legend {{ $t('UvA student information') }}
        a-alert.mb-3(
            v-if="studentIdConfirmed",
            :message="$t('student_id_confirmed_banner_text')",
            type="info"
        )

        a-form-item(v-bind="formItemLayout", :label="$t('Student ID')")
            a-input(
                v-decorator="['student_id', {}]",
                :disabled="studentIdConfirmed"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Study programmes')")
            a-select(
                mode="multiple",
                v-decorator="['educations', {}]",
                :disabled="studentIdConfirmed"
            )
                a-select-option(
                    v-for="e in educations",
                    :value="e.id",
                    :key="e.id"
                ) {{ capitalize(e.programme_type) }} {{ e[locale + '_name'] }}

        legend(v-if="") {{ $t('I have finished studying') }}
        a-form-item(v-bind="formItemLayout", label="Alumnus")
            a-checkbox(v-decorator="['alumnus', {valuePropName: 'checked'}]")

        button.btn.btn-primary(type="submit") {{ $t('Save') }}
</template>

<script lang="ts">
import Vue from "vue";
import moment from "moment";
import { Component, Inject } from "vue-property-decorator";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { userApi } from "../../scripts/api/user";
import { educationApi } from "../../scripts/api/education";
import type { Education } from "../../types/examination";
import {
    Alert,
    Button,
    Checkbox,
    DatePicker,
    Form,
    Input,
    notification,
    Select,
} from "ant-design-vue";
import { validateAntForm } from "../../utils/form";
import { capitalize } from "../../scripts/formatters";

@Component({
    components: {
        "a-input": Input,
        "a-select": Select,
        "a-alert": Alert,
        "a-select-option": Select.Option,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-checkbox": Checkbox,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-date-picker": DatePicker,
    },
    methods: { capitalize: capitalize },
})
export default class UserProfileEdit extends Vue {
    @Inject() locale!: string;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 5 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 19 },
        },
    };

    private form: WrappedFormUtils | null = null;
    private educations: Education[] = [];
    private studentIdConfirmed = false;

    async created(): Promise<void> {
        // TODO unwrapping: this is a paginated API, but only has a single page atm.
        this.educations = (await educationApi.getEducations("", "1")).data.data;
        this.form = this.$form.createForm(this);
    }

    async mounted(): Promise<void> {
        const resp = await userApi.getUserData(this.userId);

        this.form!.setFieldsValue({
            email: resp.data.email,
            first_name: resp.data.first_name,
            last_name: resp.data.last_name,
            student_id: resp.data.student_id,
            birth_date: moment(resp.data.birth_date),
            phone_nr: resp.data.phone_nr,
            locale: resp.data.locale,
            educations: resp.data.educations.map((e) => e.id),
            alumnus: resp.data.alumnus,
            address: resp.data.address,
            zip: resp.data.zip,
            city: resp.data.city,
            country: resp.data.country,
        });
        this.studentIdConfirmed = resp.data.student_id_confirmed;
    }

    async save(): Promise<void> {
        try {
            const values: any = await validateAntForm(this.form!);
            const formData = new FormData();
            formData.append("csrf_token", window.viaduct.csrf_token);
            formData.append("email", values.email);
            formData.append("first_name", values.first_name);
            formData.append("last_name", values.last_name);
            formData.append("student_id", values.student_id);
            formData.append(
                "birth_date",
                values.birth_date.format("YYYY-MM-DD")
            );
            formData.append("phone_nr", values.phone_nr);
            formData.append("locale", values.locale);
            formData.append("alumnus", values.alumnus);
            formData.append("address", values.address);
            formData.append("zip", values.zip);
            formData.append("city", values.city);
            formData.append("country", values.country);
            for (const educationId of values.educations) {
                formData.append("educations", educationId);
            }
            await userApi.post(window.location.pathname, formData);
            notification.success({
                message: this.$t("save.success.title") as string,
                description: this.$t("save.success.description") as string,
            });
        } catch (e) {
            console.error(e);
            notification.error({
                message: this.$t("save.error.title") as string,
                description: JSON.stringify(e.response.data),
            });

            return; // Form didn't validate
        }
    }

    private get userId(): number | null {
        if (this.$route.params["userId"] === "self") {
            // "self" route
            return null;
        }
        return Number(this.$route.params["userId"]);
    }
}
</script>

<style lang="sass">
.ant-form-item
    margin-bottom: 0
</style>

<i18n src="./UserProfileEdit.json"></i18n>
