<template lang="pug">
loading-container(:active="loading")
    h1 Edit course
    a-form(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", label="Name")
            a-input(
                v-decorator="['name', { rules: [{ required: true, message: 'Please enter the course name.' }]}]"
            )

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="$route.meta.from || { name: 'course-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate")
                        | Back
                a-button(type="primary", html-type="submit") Submit
</template>

<script lang="ts">
import Vue from "vue";
import { validateAntForm } from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { Component } from "vue-property-decorator";
import { examinationApi } from "../../scripts/api/examination";
import { courseApi } from "../../scripts/api/course";
import LoadingContainer from "../loading_container.vue";
import { Button, Form, Input, notification } from "ant-design-vue";

@Component({
    components: {
        "loading-container": LoadingContainer,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-input": Input,
    },
})
export default class EditCourse extends Vue {
    private loading = true;
    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 5 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 19 },
        },
    };

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        if (this.id) {
            const resp = await courseApi.getCourse(this.id);
            this.form!.setFieldsValue({ name: resp.data["name"] });
            this.$forceUpdate();
        }
        this.loading = false;
    }

    get id() {
        return Number(this.$route.params["courseId"]);
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return; // Form didn't validate
        }

        try {
            this.loading = true;
            await examinationApi.updateCourse(this.id, values);
            notification.success({
                message: "Success",
                description: "Course successfully saved.",
            });
        } finally {
            this.loading = false;
        }
    }
}
</script>
