<template lang="pug">
.row
    .col-12.col-md-4
        h1 {{ $t('Tutor') }}
        h3(v-if="tutor") {{ tutor.first_name }} {{ tutor.last_name }}
        h5 {{ $t('Tutoring courses') }}
        ul.list-group.mb-3(v-if="tutorCourses.length")
            li.list-group-item(v-for="tutor in tutorCourses", :key="tutor.id")
                | {{ tutor.course.name }}
                a-popconfirm.float-right(
                    @confirm="withdrawCourse(tutor).then()"
                )
                    a-icon(type="delete", style="color: #f5222d")
                    template(v-slot:title="")
                        i18n(path="confirmation_message_withdraw_course")
                            template(v-slot:course="") {{ tutor.course.name }}
        .mb-2(v-else) {{ $t('not_registered') }}

        router-link.mb-3(
            :to="{ name: 'tutor-course-register' }",
            v-slot="{ href, navigate}"
        )
            a-button(
                icon="plus",
                type="primary",
                :href="href",
                @click="navigate"
            )
                | {{ $t('Register as tutor') }}

        h5 {{ $t('Accepted tutorings') }}
        ul.list-group
            li.list-group-item(
                v-for="tutoring in userTutorings",
                :key="tutoring.id"
            )
                a-popconfirm.float-right(
                    :title="$t('confirmation_message_withdraw')",
                    @confirm="withdraw(tutoring)"
                )
                    a-icon(type="delete", style="color: #f5222d")
                a-icon.mr-1(type="read")
                | {{ userTutoringCourses[tutoring.course_id].name }}
                br
                a-icon.mr-1(type="user")
                | {{ tutoring.tutee.first_name }} {{ tutoring.tutee.last_name }}
                br
                a-icon.mr-1(type="mail")
                a(:href="`mailto:${tutoring.tutee.email}`") {{ tutoring.tutee.email }}
                br
                a-icon.mr-1(type="phone")
                | {{ tutoring.tutee.phone_nr }}
        div(v-if="!userTutorings.length") {{ $t('not_tutoring') }}

    .col-12.col-md-8
        render-page(pageUrl="tutors/self", :showTitle="false")
        h4 {{ $t('Tutoring requests') }}
        a-config-provider
            template(v-slot:renderEmpty="")
                a-empty(
                    :description="$t('No tutoring requests open for courses you tutor')"
                )
            a-table(
                :columns="columns",
                :rowKey="(record) => record.id",
                :dataSource="openTutorings",
                :loading="loading",
                :bodyStyle="{ 'overflow-x': 'auto' }"
            )
                template(v-slot:course="record")
                    | {{ userTutoringCourses[record.course_id].name }}
                template(v-slot:name="record")
                    | {{ record.tutee.first_name }} {{ record.tutee.last_name }}
                template(v-slot:date="record")
                    | {{ date(record.created) }}
                template(v-slot:action="record")
                    a-popconfirm(
                        v-if="!record.tutor",
                        :title="$t('confirmation_message_accept')",
                        @confirm="() => confirm(record)"
                    )
                        a-button(size="small") {{ $t('Accept') }}
                    template(v-else) {{ record.tutor.first_name }} {{ record.tutor.last_name }}
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { Course } from "../../scripts/api/examination";
import { Tutor, Tutoring, tutoringApi } from "../../scripts/api/tutoring";
import { courseStore } from "../../store/course";
import Vue from "vue";
import { User } from "../../types/user";
import { userApi } from "../../scripts/api/user";
import {
    Button,
    ConfigProvider,
    Empty,
    Icon,
    notification,
    Popconfirm,
    Table,
} from "ant-design-vue";
import RenderPage from "../page/render_page.vue";
import { date } from "../../scripts/formatters";

@Component({
    components: {
        "a-button": Button,
        "a-table": Table,
        "a-popconfirm": Popconfirm,
        "a-icon": Icon,
        "a-config-provider": ConfigProvider,
        "a-empty": Empty,
        "render-page": RenderPage,
    },
    methods: { date: date },
})
export default class TutorsProfile extends Vue {
    userTutoringCourses: { [courseId: number]: Course } = {};
    userTutorings: Tutoring[] = [];
    openTutorings: Tutoring[] = [];
    tutor: User = new User();
    loading = true;
    title = "";
    description = "";
    courses: Course[] = [];
    tutorCourses: Tutor[] = [];

    private async mounted() {
        // Tutorings for this user
        const [
            tutorTutorings,
            tutorCourses,
            openTutorings,
            tutor,
        ] = await Promise.all([
            tutoringApi.getTutorTutorings(this.userId),
            tutoringApi.getTutorCourses(this.userId),
            tutoringApi.getOpenTutorings(),
            userApi.getUserData(this.userId),
        ]);
        const courses = await courseStore.loadCourses(tutorTutorings.data);
        courses.forEach(
            (value) => (this.userTutoringCourses[value.id] = value)
        );
        this.userTutorings = tutorTutorings.data;

        // Available tutorings this user can accept.
        const courses2 = await courseStore.loadCourses(openTutorings.data);
        this.courses = courses2;
        courses2.forEach(
            (value) => (this.userTutoringCourses[value.id] = value)
        );
        this.openTutorings = openTutorings.data;
        this.tutorCourses = tutorCourses.data;
        this.tutor = tutor.data;

        this.loading = false;
    }

    private async confirm(tutoring: Tutoring) {
        await tutoringApi.acceptTutoring(this.userId, tutoring.id);
        notification.success({
            message: this.$t("Successfully accepted") as string,
            description: this.$t(
                "You have successfully accepted the tutoring request."
            ) as string,
        });
        const [openTutorings, userTutorings] = await Promise.all([
            tutoringApi.getOpenTutorings(),
            tutoringApi.getTutorTutorings(this.userId),
        ]);
        this.openTutorings = openTutorings.data;
        this.userTutorings = userTutorings.data;
    }

    get userId(): number | null {
        if (this.$route.params["userId"] === "self") {
            // "self" route
            return null;
        }
        return Number(this.$route.params["userId"]);
    }

    private async withdraw(tutoring: Tutoring) {
        await tutoringApi.withdrawTutoring(this.userId, tutoring.id);
        notification.success({
            message: this.$t("Successfully withdrawn") as string,
            description: this.$t(
                "You have successfully withdrawn from the tutoring request."
            ) as string,
        });
        const [openTutorings, userTutorings] = await Promise.all([
            tutoringApi.getOpenTutorings(),
            tutoringApi.getTutorTutorings(this.userId),
        ]);
        this.openTutorings = openTutorings.data;
        this.userTutorings = userTutorings.data;
    }

    private async withdrawCourse(tutor: Tutor) {
        await tutoringApi.removeTutor(this.userId, tutor.id);
        notification.success({
            message: this.$t("Successfully withdrawn") as string,
            description: this.$t(
                "You have successfully withdrawn as tutor for {course}.",
                { course: tutor.course.name }
            ) as string,
        });
        this.tutorCourses = (
            await tutoringApi.getTutorCourses(this.userId)
        ).data;
    }

    private columns = [
        {
            title: this.$t("Course"),
            key: "course",
            scopedSlots: { customRender: "course" },
        },
        {
            title: this.$t("Requested by"),
            key: "name",
            scopedSlots: { customRender: "name" },
        },
        {
            title: this.$t("Number of hours"),
            dataIndex: "num_hours",
        },
        {
            title: this.$t("Date"),
            key: "date",
            scopedSlots: { customRender: "date" },
        },
        {
            title: this.$t("Tutor"),
            key: "action",
            scopedSlots: { customRender: "action" },
        },
    ];
}
</script>

<i18n src="./tutors_profile.json"></i18n>
