<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item DOMjudge
        a-breadcrumb-item
            a(:href="contestOverviewUrl") {{ $t('contests') }}
        a-breadcrumb-item
            a(:href="contestUrl") {{ name }}
        a-breadcrumb-item {{ $t('users') }}

    legend {{ name }} - {{ $t('users.overview') }}

    a-table(
        :columns="columns",
        :rowKey="(record) => record.id",
        :dataSource="data",
        :pagination="pagination",
        :loading="loading",
        :bodyStyle="{ 'overflow-x': 'auto' }",
        @change="handleTableChange"
    )
        template(v-slot:submissions="record")
            a(:href="viewSubmissions(record.team_id)") {{ $t('submissions') }}

    a-button-group
        a-button(:href="contestUrl") {{ $t('back') }}
        a-button(type="primary", icon="copy", @click="copyEmails") {{ $t('emails.copy') }}
</template>

<script lang="ts">
import Flask from "../../utils/flask";
import { domjudgeApi } from "../../scripts/api/domjudge";
import Component from "vue-class-component";
import LoadingContainer from "../loading_container.vue";
import { Breadcrumb, Button, notification, Table } from "ant-design-vue";
import { DOMjudgeContestUser } from "../../types/domjudge";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import clipboardCopy from "../../utils/clipboard";

@Component({
    name: "contest-users-overview",
    components: {
        "loading-container": LoadingContainer,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-button-group": Button.Group,
        "a-button": Button,
        "a-table": Table,
    },
})
export default class ContestUsersOverview extends VuePaginatedAnt {
    private contestOverviewUrl = Flask.url_for("domjudge.contest_list");
    private contestUrl = "";

    loading = true;
    private name = "";

    private data: DOMjudgeContestUser[] = [];
    private columns = [
        { title: this.$t("name"), dataIndex: "name" },
        { title: this.$t("email"), dataIndex: "email" },
        {
            title: "",
            key: "submissions",
            scopedSlots: { customRender: "submissions" },
        },
    ];

    async mounted() {
        this.contestUrl = Flask.url_for("domjudge.contest_view", {
            contest_id: this.contestId,
        });

        try {
            const contest = (await domjudgeApi.getContest(this.contestId)).data;
            this.name = contest.name;

            await this.refreshListView();
        } finally {
            this.loading = false;
        }
    }

    async refreshListView() {
        this.loading = true;
        try {
            const resp = await domjudgeApi.getContestUsers(this.contestId);
            this.data = resp.data;
            this.pagination.total = resp.data.length;
        } finally {
            this.loading = false;
        }
    }

    private copyEmails() {
        const emails = this.data.map((u) => u.email);
        const text = emails.join("\n");
        clipboardCopy(text);

        notification.success({
            message: this.$t("emails.copy.done") as string,
            description: "",
        });
    }

    get contestId(): number {
        return parseInt(this.$route.params.contestId);
    }

    private viewSubmissions(teamId: number): string {
        return Flask.url_for("domjudge.contest_submissions_view", {
            contest_id: this.contestId,
            team_id: teamId,
        });
    }
}
</script>

<i18n src="./ContestUsersOverview.json"></i18n>
