{% extends "content.htm" %}

{% block title %}Error 500{% endblock %}

{% block content %}
    <h1>{{ _('Error 500 - Internal server error') }}</h1>

    <div class="row">
        <div class="col-md">
            <p>
                {{ _('An error occurred. Please try again later.') }}
            </p>

            <br>
            <br>
            <img src="{{ url_for('static', filename='img/500.png') }}" alt="Zelda - I AM ERROR" />
        </div>
    </div>

{% endblock %}

{% block post_main_include %}
    {% if sentry_event_id %}
        <script>
            Sentry.init({ dsn: '{{ sentry_dsn }}' });
            Sentry.showReportDialog({
                eventId: '{{ sentry_event_id }}',
                {% if current_user.is_authenticated -%}
                user: {
                    email: "{{ current_user.email }}",
                    name: "{{ current_user.name }}"
                },
                lang: "{{current_user.locale}}"
                {%- endif %}
            })
        </script>
    {% endif %}
{% endblock %}
