<template lang="pug">
div
    a-skeleton(
        :loading="loading",
        active="",
        :title="showTitle",
        :paragraph="{ rows: 8 }"
    )
    h1(v-if="showTitle") {{ title }}
    .clearfix(v-html="content")
    a-alert.mb-3(v-if="hasPageWrite")
        template(v-slot:message="")
            i18n(path="content.notfound", v-if="pageNotFound")
                template(v-slot:url="") {{ pageUrl }}
                template(v-slot:here="")
                    router-link(
                        :to="{ name: 'create-page', query: { path: pageUrl } }"
                    ) {{ $t('here') }}
            i18n(path="content.editable", v-else-if="pageId")
                template(v-slot:url="") {{ pageUrl }}
                template(v-slot:here="")
                    router-link(
                        :to="{ name: 'edit-page', params: { pageId: pageId } }"
                    ) {{ $t('here') }}
</template>

<script lang="ts">
import { Component, Inject, Prop, Vue } from "vue-property-decorator";
import { pageApi } from "../../scripts/api/page";
import { Alert, Button, notification, Skeleton } from "ant-design-vue";
import { authStore } from "../../store/auth";

@Component({
    components: {
        "a-skeleton": Skeleton,
        "a-button": Button,
        "a-alert": Alert,
    },
})
export default class RenderPage extends Vue {
    @Prop({ type: String, required: true }) private pageUrl;
    @Inject() locale!: string;
    @Prop({ type: Boolean, default: true }) private showTitle;
    private title = "";
    private content = "";
    private loading = true;
    private pageNotFound = false;
    private pageId: number | null = null;

    get hasPageWrite(): boolean {
        return !!authStore.roles.PAGE_WRITE?.has_role;
    }

    async mounted() {
        try {
            const resp = await pageApi.renderPage(this.pageUrl, this.locale);
            this.title = resp.data.title;
            this.content = resp.data.content;
            this.pageId = resp.data.page_id;
        } catch (e) {
            if (e.response?.status === 404 || e.response?.status === 410) {
                this.pageNotFound = true;
                if (this.hasPageWrite) {
                    notification.info({
                        message: this.$t("notification.missing.message", {
                            url: this.pageUrl,
                        }) as string,
                        description: this.$t(
                            "notification.missing.description",
                            { url: this.pageUrl }
                        ) as string,
                    });
                }
            } else {
                throw e;
            }
        }
        this.loading = false;
    }
}
</script>

<i18n src="./render_page.json"></i18n>
