{% extends "base/en.html" %}

{% block title -%}
    Pimpy - New tasks added
{%- endblock %}

{% block content -%}
    <p>
        New Pimpy tasks have been assigned to you in group <b>{{ group.name }}</b>:
    </p>
    <ul>
        {%- for task in tasks %}
        <li>{{ task.title }}</li>
        {%- endfor %}
    </ul>

    <p>
        You can view all your current tasks on <a href="{{ view_tasks_url }}">Pimpy</a>.
    </p>
{%- endblock %}
