{% macro render_signup_nav(step=1, with_payment=True, show_payment_step=True) %}
    <div class="signup-nav-container">
        <div class="signup-nav">
            <div class="item active">
                <span class="step"></span>
                <span class="text">{{ _('Sign up') }}</span>
            </div>
            <div class="line{% if step >= 2 %} active {% endif %}">
                <div></div>
            </div>
            <div class="item{% if step >= 2 %} active {% endif %}">
                <span class="step"></span>
                <span class="text">{{ _('Details') }}</span>
            </div>
            {% if show_payment_step %}
                <div class="line{% if step >= 3 %} active {% endif %}{% if not with_payment %} warning{% endif %}">
                    <div></div>
                </div>
                <div class="item{% if step >= 3 %} active {% endif %}{% if not with_payment %} warning{% endif %}">
                    <span class="step"></span>
                    <span class="text">{{ _('Pay membership fee') if with_payment else _('Payment of membership fee not possible') }}</span>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
