{% extends 'content.htm' %}

{% from 'macros/form.htm' import render_form %}
{% block title %}{{ _('Redirects') }}{% endblock %}
{% block content %}

<h1>Omleiding</h1>
<p>Creëer omleidingen van URLs, naar URLs.</p>

<h2>{% if redirection %}Bewerk{% else %}Nieuwe{% endif %} omleiding</h2>

{{ render_form(form, form_class='form-inline') }}

{% if redirection %}
    <a href="{{ url_for('redirect.view') }}" class='btn btn-success'>Nieuw</a>
{% endif %}

<h2>Bestaande omleidingen</h2>
<table class='table table-responsive'>
    <thead>
    <tr>
        <th>Aanpassen</th>
        <th>Verwijderen</th>
        <th>Van</th>
        <th>Naar</th>
    </tr>
    </thead>

    <tbody>
        {% for r in redirections %}
            <tr>

                <td>
                    <a href="{{ url_for('redirect.view', redirection=r) }}"
                       class='btn btn-secondary btn-sm'>
                        <i class='far fa-edit'></i>
                    </a>
                </td>
                <td>
                    <form action="{{ url_for('redirect.delete', redirection=r )}}"
                          method="post" class="form-inline">
                        {{ form.csrf_token() }}
                        <button class='btn btn-danger btn-sm' type="submit">
                            <i class='fas fa-trash'></i>
                        </button>
                    </form>

                </td>
                <td>{{ r.fro }}</td>
                <td>{{ r.to }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
