<template lang="pug">
div
    a-progress(:percent="percentage", :status="status")
    div(v-if="task.status === 'PENDING'")
        | A task is queued for processing.
    div(v-else-if="task.status === 'STARTED'")
        | {{ taskName }}: finished {{ task.result.current }} of {{ task.result.count }} steps
    div(v-else-if="task.status === 'SUCCESS'")
        | {{ taskName }}: finished.
    div(v-else="")
        | {{ taskName }}: something went wrong while processing, please contact the ICT-committee.
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import Vue from "vue";
import { Progress } from "ant-design-vue";
import { taskApi, TaskResponse } from "../../scripts/api/task";

@Component({
    components: {
        "a-progress": Progress,
    },
})
export default class AsyncTasksetProgress extends Vue {
    @Prop() private taskId: string;
    private timer = 0;
    private task: TaskResponse = {
        status: "PENDING",
        result: null,
        task_id: "",
    };

    private async mounted() {
        await this.updateTask(this.taskId);
    }

    private beforeDestroy() {
        window.clearTimeout(this.timer);
    }

    private async updateTask(taskId: string) {
        const resp = await taskApi.getTask(taskId);
        this.task = resp.data;
        if (this.task.status === "SUCCESS" || this.task.status === "FAILURE") {
            return;
        }
        this.timer = window.setTimeout(() => this.updateTask(taskId), 1000);
    }

    get status() {
        switch (this.task.status) {
            case "FAILURE":
                return "exception";
            case "SUCCESS":
                return "success";
            default:
                return "active";
        }
    }

    get percentage(): number {
        switch (this.task.status) {
            case "SUCCESS":
            case "FAILURE":
                return 100;
            case "STARTED":
                if (this.task.result === null) {
                    return 0;
                }
                return Math.trunc(
                    (100 * this.task.result.current) / this.task.result.count
                );
            default:
                return 0;
        }
    }

    get taskName() {
        switch (this.task.name) {
            case "app.task.copernica.update_all_users":
                return "Full Copernica synchronization";
            case "app.task.datanose.sync_datanose_courses":
                return "Full Datanose synchronization";
            default:
                return this.task.name;
        }
    }
}
</script>
